---
import Logo from '@svgs/logo.astro';
import Instagram from '@svgs/instagram.astro';
import Twitter from '@svgs/twitter.astro';
import Github from '@svgs/github.astro';
import Reddit from '@svgs/reddit.astro';

import { getI18N } from '@i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const SOCIALS = [
	{
		icon: 'Instagram',
		label: 'Instagram page',
		path: 'https://www.instagram.com/premiosesland',
	},
	{
		icon: 'Twitter',
		label: 'Twitter page',
		path: 'https://twitter.com/premiosesland',
	},
	{
		icon: 'Reddit',
		label: 'Reddit page',
		path: 'https://www.reddit.com/r/premiosESLAND/',
	},
];
---

<footer class='footer'>
	<div class='footer__container'>
		<div class='footer__wrapper'>
			<div class='mb-10 md:mb-0 flex flex-col gap-y-0 sm:gap-y-6 items-center'>
				<a href='/' class='footer__logo' aria-label='Go home'>
					<Logo class='w-36 -mt-20' />
				</a>
				<div class='flex mt-4 gap-x-6 sm:justify-center sm:mt-0'>
					{
						SOCIALS.map((item) => (
							<a class='text-gray-500 hover:text-white' href={item.path} target='_blank' aria-label={item.label}>
								{item.icon === 'Instagram' ? (
									<Instagram />
								) : item.icon === 'Twitter' ? (
									<Twitter />
								) : (
									<Reddit class='size-5' />
								)}
								<span class='sr-only'>{item.label}</span>
							</a>
						))
					}
				</div>
			</div>

			<div class='grid grid-cols-1 gap-8 sm:gap-0 sm:grid-cols-3'>
				{
					i18n.FOOTER.columns.map((column) => (
						<div class='text-center sm:text-left'>
							<h2 class='mb-6 text-sm font-semibold uppercase text-white'>{column.title}</h2>
							<ul class='text-gray-400 font-medium'>
								{column.links.map((link) => (
									<li class='mb-4 last:mb-0'>
										<a href={link.path} class='hover:underline' aria-label={link.label}>
											{link.label}
										</a>
									</li>
								))}
							</ul>
						</div>
					))
				}
			</div>
		</div>

		<hr class='footer__division' />
		<div class='footer__copyright'>
			<span class='footer__copyright--text'>{i18n.FOOTER.copyright}</span>

			<a
				class='hover:underline text-yellow-200/50 text-sm mb-0 tracking-wide'
				aria-label='Midu YT Channel'
				href='https://www.youtube.com/@midulive'
				target='_blank'>Credits Midu</a
			>

			<a
				class='text-gray-500 hover:text-white/70 animate-pulse'
				aria-label='My Github Account'
				href='https://github.com/torres-leo/esland-midu-tuto'
				target='_blank'>
				<Github />
				<span class='sr-only'>Github page</span>
			</a>
		</div>
	</div>
</footer>
